<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <p>Menu</p>
    </mat-drawer>

   <mat-drawer-content class="sidenav-content">
    <!--  https://wweb.dev/resources/css-separator-generator -->
    <!-- <section class="curved"></section> -->

    <!-- https://wweb.dev/resources/animated-css-background-generator -->
    <ul class="background">
        <!-- Animacion Background -->
        <li></li><li></li><li></li><li></li><li></li>
        <!-- Animacion Background -->

        <h1 style="color:white;">Tools App</h1>
        <!-- Toggle Sidenav -->
         <!-- <button type="button" mat-button class="toggle-button" (click)="drawer.toggle()">
           Toggle sidenav
         </button> -->
    </ul>
   </mat-drawer-content>
  
</mat-drawer-container>
<!-- <app-home></app-home> -->

