<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Workout Tracking</a>
      <a mat-list-item href="#">Products Tracking</a>
      <a mat-list-item href="#">QR Payment</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Abrir menu lateral"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Icono abrir menu lateral">menu</mat-icon>
      </button>
      <span>Tools App</span>
    </mat-toolbar>
    <!-- Contenido Principal -->
    <app-weight-tracking></app-weight-tracking>
  </mat-sidenav-content>
</mat-sidenav-container>
